<p>
  For reward, here is a list of awesome computer scientists!
</p>

<p>
  You want more? Add them yourself!
</p>
<!-- (9) (x) points to an event x -->
<!-- events are the way out of a component -->
<!-- [properties] are the way in -->
<form (submit)="addName(newname)">
  <!-- (10) #newname is a local template variable -->
  <input #newname>
  <button type="submit">Add</button>
  <br>
  <!-- (11) and {{here}} we see the good old interpolations -->
  {{xAbout}}*
  <br>
  {{myhome.homeAbout}}
</form>
<ul>
  <!-- (12) now here's the new directive's syntax -->
  <!-- the * actually sugar-coats the template -->
  <li *ng-for="#name of list.get()">{{name}}</li>
</ul>
