<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My Angular 2 App</title>
  <base href="<%= APP_BASE %>">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>

   <!-- (0.0 it all starts here) -->
  <app>Loading...</app>

  <!-- inject:js -->
  <!-- endinject -->
  <!-- (0.1) init.ts does the first import with system.import -->
  <script src="<%= APP_BASE %>init.js?v=<%= VERSION %>"></script>

</body>
</html>
